@font-face {
  font-family: 'Milk Mango Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Milk Mango Regular'), url('./fonts/MilkMango-z8vjG.woff') format('woff');
}

@font-face {
  font-family: 'SBAggroB-bold';
  font-style: bold;
  font-weight: normal;
  src: local('Milk Mango Regular'), url('./fonts/SBAggro/SB 어그로OTF B.otf') format('woff');
}

@font-face {
  font-family: 'SBAggroB-light';
  font-style: light;
  font-weight: normal;
  src: local('Milk Mango Regular'), url('./fonts/SBAggro/SB 어그로OTF L.otf') format('woff');
}

@font-face {
  font-family: 'SBAggroB-regular';
  font-style: light;
  font-weight: normal;
  src: local('Milk Mango Regular'), url('./fonts/SBAggro/SB 어그로OTF M.otf') format('woff');
}
